html body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    width:100%;
}

header{
    border-bottom: 1px solid lightgrey;
}

p, h1, span{
    margin:0px;
    padding:0px;
}

.sign_in{
    position:absolute;
    top:5px;
    right:60px;
}

.logo{
    margin-left:2%;
}

.enlace{
    color:rgb(59, 148, 207);
    text-decoration:none;
}

.enlace:hover{
    text-decoration: underline;
}

.icon{
    width:30px;
    height:30px;
}

.logo_img{
    width:150px;
    height:50px;
}

main{
    padding: 5% 5%;
}

.create_account_text{
    margin-bottom: 30px;
}

.boton_google{
    background-color:rgb(83, 150, 250);
    text-align: center;
    border-radius:3px;
    border: 0px;
    padding:5px;
    margin-right: 20px;
}

.boton_facebook{
    background-color:rgb(46, 96, 231);
    text-align: center;
    border-radius:3px;
    border: 0px;
    padding:5px;
}

.texto_boton{
    margin: 0px 10px;
    position: relative;
    bottom: 5px;
    color:white;
    font-size:1.2em;
}

.text_or_with{
    margin:20px 0px;
}

.input{
    width: 40%;
    margin-top:5px;
}

#boton_create_account{
    padding: 10px 30px;
    border: 1px dashed grey;
    border-radius: 20px;
    font-size:1em;
    color: grey;
    background-color:white;
}

footer{
    border-top: 1px solid lightgray;
    padding: 20px 40px;
}

.texto_issuu_inc{
    margin-right:80px;
}

.texto_footer{
    margin-right:10px;
}